<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改帳單資料</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar bg-dark bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49035/preview.svg"
              alt="Logo"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            乳品小棧
          </a>
        </div>
      </nav>
      <form action="/update-receivable" method="post">
        <table class="table">
          <tr>
            <td>receivable_id</td>
            <td>
              <input type="text" class="form-control" name="receivable_id" />
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input type="text" class="form-control" name="name" /></td>
          </tr>
          <tr>
            <td>ID</td>
            <td><input type="text" class="form-control" name="id" /></td>
          </tr>
          <tr>
            <td>amount</td>
            <td><input type="text" class="form-control" name="amount" /></td>
          </tr>
          <tr>
            <td>due_date</td>
            <td><input type="text" class="form-control" name="due_date" /></td>
          </tr>
          <tr>
            <td>pending_amount</td>
            <td>
              <input type="text" class="form-control" name="pending_amount" />
            </td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              <select name="status">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input class="form-control" type="submit" value="Submit" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
